/* 
    Document   : common
    Created on : 2012-7-19, 9:55:21
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

@CHARSET "UTF-8";



/****start poweredby*****/
.poweredby {
    font: 11px Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 15000;

    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /* Good browsers */
    opacity: 0.7;
}

.poweredby div {
    position: relative;
    width: 150px;
    height: 25px;
    /*    background-image: url(../images/powered-by-ext-js.png);*/
    background-repeat: no-repeat;
}
/*** end poweredby*****/

/** start body***/
.body-css-class{
    /*****
    
    background-image:url(../../images/default/main.gif);
    *****/
    background-repeat:no-repeat;
}

.body-bk-class{
    background-color:#fff;
    background-image:url("main.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
    font: 11px Arial, Helvetica, sans-serif;
}
/** end body***/

