/* 
    Document   : login
    Created on : 2012-7-20, 16:24:16
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

#image-bg{

}

#title1{
    font-size: 48px;
    font-family: "Ώ¬Με_GB2312";
    font-style: italic;
    color: #ffffff;
    position: absolute;
    top: 50px;
    left: 100px;
}
#title2{
    font-size: 24px;
    font-family: "Ώ¬Με_GB2312";
    font-style: italic;
    font-weight: bold;
    color: aqua;
    position: absolute;
    top: 120px;
    left: 400px;
}

